body {
  position: relative;
}

#login a {
  padding: 20px;
  color: var(--white);
  border: 3px solid var(--color-black);
  background-color: var(--color-black);
}

#login a:hover {
  padding: 20px;
  color: var(--color-black);
  border: 3px solid var(--color-black);
  background-color: var(--bg-primary);
}

#login .diamond-bg {
  width: 3000px;
  filter: saturate(0) opacity(0.06);
}

#login .diamond-index {
  width: 46px;
}

#login img, #login svg {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

#login .drawmond {
  -webkit-text-stroke: 2px var(--color-black);
  -webkit-text-fill-color: var(--white);
  font-size: 4.6rem;
}

#login .join {
  width: 50%;
  margin: auto;
}

@media only screen and (max-width: 767px) {
  #login .diamond-index {
    width: 26px;
  }
  #login .drawmond {
    -webkit-text-stroke: 1px var(--color-black);
    font-size: 2.6rem;
  }
  #login .drawmond-desc {
    font-size: 1rem;
  }
  #login .join {
    width: 60%;
  }
  #login h2 {
    font-size: 1.2rem;
  }
  
}

@media only screen and (max-width: 512px) {
  #login .join {
    width: 100%;
  }
}